*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.toolbox-cont{
    display: flex;
    height: 5rem;
        align-items: center;
    background-color: #4b4b4b;;
    /* justify-content: space-around; */
}

.toolbox-cont>*{
    margin-left: 4rem;
}

.toolbox-color-cont{
    height: 70%;
    width:18rem;
    background-color: #3d3d3d;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.toolbox-color-cont>div{
    width:3rem;
    height: 1.5rem;
}
.lightpink{
    background-color: lightpink;
}
.lightgreen{
    background-color: lightgreen;
}
.lightblue{
    background-color: lightblue;
}
.black{
    background-color: black;
}

.action-btn-cont{
    height: 70%;
    width:9rem;
    background-color: #3d3d3d;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.action-btn-cont i{
    font-size: 2rem;
    color: white;
}

.modal-cont{
    height: 50vh;
    background-color: lightblue;
    width: 45vw;
    display: none;
    position: absolute;
    top: calc((100vh - 50vh)/2);
    left: calc((100vw - 45vw)/2);
}

.textarea-cont{
    width: 75%;
    height:100%;
    background-color: #dfe4ea;
    border: none;
    resize: none;
    font-size: 2.5rem;
    outline: none;
}

.priority-color-cont{
    width: 25%;
    height: 100%;
    background-color: #4b4b4b;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

 .priority-color-cont>div{

    height: 10%;
    width: 40%;

 }

 .ticket-cont{
    height:12rem;
    width:15rem;
    background-color:#f1f2f6;
 }

 .ticket-color{
    height:1rem;
 }

 .ticket-id{
    height: 2rem;
    background-color: red;
 }

 .task-area{
    height: calc(100% - 1rem - 2rem );
    font-size :1.5rem;
 }

 .ticket-lock{
    display: flex;
    justify-content: flex-end;
    margin-top: -29px;
    margin-right: 11px;
    font-size: 1.5rem;
 }

 .main-cont{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
 }

 .active{
    border: 5px solid red;
 }