*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.toolbox-cont{
    display: flex;
    height: 5rem;
        align-items: center;
    background-color: #4b4b4b;;
    /* justify-content: space-around; */
}

.toolbox-cont>*{
    margin-left: 4rem;
}

.toolbox-color-cont{
    height: 70%;
    width:18rem;
    background-color: #3d3d3d;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.toolbox-color-cont>div{
    width:3rem;
    height: 1.5rem;
}
.lightpink{
    background-color: lightpink;
}
.lightgreen{
    background-color: lightgreen;
}
.lightblue{
    background-color: lightblue;
}
.black{
    background-color: black;
}

.action-btn-cont{
    height: 70%;
    width:9rem;
    background-color: #3d3d3d;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.action-btn-cont i{
    font-size: 2rem;
    color: white;
}