* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

h1{
    margin-left:3rem;
    font-weight: 100;
}
.navbar{
    display:flex;
    justify-content: space-between;
    margin-right: 4vw;
}

ul{
    display: flex;
    align-items: center;
}

li{
    list-style: none;
    margin-left: 2rem;
    font-size: 1.5em;
}

img[src="./images/lap.jpeg"]{
    width: 94vw;
    margin-left: 2vw;
    margin-right: 2vw;
}

.skills{
    display: flex;
    justify-content: space-around;
}

.skills>div{
    margin-left: 2vw;
    margin-top:1rem;
    margin-bottom: 1rem;
    padding-right: 1rem;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
/* a:visited{
    color:rgb(149, 34, 34)
} */
a:hover{
    color: lightskyblue;
}

.footer{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: black;
    color: white;
    text-align: center;
}

.footer>p{
    font-size: 2rem;
}

